<div class="nav">
  <div class="item">I ran out of content, so i'll just put legend here</div>

  <div class="item"><mat-icon>report</mat-icon> Mark as important</div>
  <div class="item"><mat-icon>report_off</mat-icon> Unmark important</div>

  <div class="item"><mat-icon>check_circle</mat-icon> Mark as completed</div>
  <div class="item"><mat-icon>check_circle_outline</mat-icon> Unmark completed</div>

  <div class="item"><mat-icon>save</mat-icon> Save changes</div>
  <div class="item"><mat-icon>highlight_off</mat-icon> Delete task</div>
  <div class="item"><mat-icon>add_circle</mat-icon> Add new task</div>

</div>
